.info-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-container {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    padding-bottom: 30%;
}

.bar-graphic {
    width: 100%;
    height: -0;
}

.attribute-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bar-title, .gusto-general-title {
    margin-bottom: 20px;
    text-align: center;
}

.averages-info{
    margin-top: 30px;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
    .bar-graphic {
        padding-bottom: 30%;
        /* Adjust as needed for mobile */
    }
}