.Label-Formulario{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.container-form {
  border-radius: 10px;    /* Bordes redondeados */          /* Espacio interno */      /* Ancho máximo del contenedor */     /* Centrar el contenedor horizontalmente y añadir margen superior */
  text-align: left;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  margin-top: 85px;
  
}

.Titulo-Formulario{
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 10px;
  padding: 30px; 
}

.Titulo-Sabor{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}

.container-barra{
  border-radius: 10px;    /* Bordes redondeados */
  padding: 25px;          /* Espacio interno */
  background-color: #FFDEE8; /* Color de fondo opcional */
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.144);

}

.container-gusto{
  margin-top: 20px;
  border-radius: 10px;    /* Bordes redondeados */
  padding: 20px;          /* Espacio interno */
  background-color: #FFDEE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.144);

}

.gusto-check{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: auto;

}
.Titulo-descripcion{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.descripcion-range{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.range-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0; /* Adjust spacing as needed */
}

.range-labels span:first-child {
  margin-right: 10px; /* Adjust spacing as needed */
}

.range-labels span:last-child {
  margin-left: 10px; /* Adjust spacing as needed */
}
.contenedor-titulo{
  margin-top: 20px;
  border: 3px solid #000000; /* Borde del recuadro */
  border-radius: 10px;    /* Bordes redondeados */
  padding: 20px;          /* Espacio interno */
  background-color: #f7dddd; /* Color de fondo opcional */
 
 
}
@media (max-width: 768px) {
  .Titulo-Formulario {
    font-size: 20px;
    padding: 20px;
  }

  .container-barra,
  .container-gusto {
    padding: 15px;
  }

  .Titulo-Sabor,
  .Titulo-descripcion {
    font-size: 16px;
  }

  .gusto-check {
    flex-direction: column;
    align-items: flex-start;
  }
  .boton{
    margin-top: 20px;
  }
  .radio-pregunta {
    position: relative; /* or whatever is appropriate */
    z-index: 1; /* A lower value than the header */
  }

}

